body {
    padding-top: 50px;
}

.navbar .text-success {
    color: #3c763d !important;
}

.navbar .navbar-right {
    margin-right: 0;
}

.navbar .text-danger {
    color: #a94442 !important;
}

.social-buttons {
    padding: 20px 15px 20px 15px;
    margin: 15px -15px -15px;
    border-top: 1px solid #e5e5e5;
}

.feed {
    margin-top: 20px;
}

.feed .status .panel-heading {
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed .status.mountain-bike .panel-heading {
    background-image: url('../images/backgrounds/montain.png');
}

.feed .status.trekking .panel-heading {
    background-image: url('../images/backgrounds/trekking.png');
}

.feed .status.running .panel-heading {
    background-image: url('../images/backgrounds/running.png');
}

.feed .status.ciclismo-de-ruta .panel-heading {
    background-image: url('../images/backgrounds/running.png');
}

.feed .status .panel-heading .thumbnail {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    border: 5px solid white;
}

.feed .status .panel-heading .thumbnail img {
    object-fit: cover;
}

.feed .panel-body > div > div {
    margin-bottom: 20px;
}

.feed .status .panel-heading h3 {
    display: inline-block;
    color: white;
}

.feed .comments .comment {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #e9e9e9;
}

.feed .comments .thumbnail {
    max-width: 60px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    border: none;
    float: left;
    margin-right: 10px;
}

.feed .status.highlight, .feed .status.highlight .comments,  .feed .status.highlight .panel-footer {
    background-color: #F0F0F0;
}

.btn-facebook, .btn-facebook:active, .btn-facebook:focus, .btn-facebook:visited {
    color: #FFF;
    background-color: #3B5998;
    border-color: #8b9dc3;
}
.btn-facebook:hover {
    border-color: #3B5998;
    background-color: #8b9dc3;
}

.browse-file {
    overflow: hidden;
    position: relative;
}

.browse-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: inherit;
}