<!doctype html>
<html ng-app="trentos">
<head>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/satellizer/satellizer.min.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="node_modules/moment/min/moment.min.js"></script>
  <script src="node_modules/moment/locale/es.js"></script>
  <script src="node_modules/angular-moment/angular-moment.min.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="node_modules/angular-validation-match/dist/angular-validation-match.min.js"></script>

  <script src="app/app.js"></script>

  <script src="app/components/browseFile/browseFile.js"></script>

  <script src="app/controllers/events.js"></script>
  <script src="app/controllers/feed.js"></script>
  <script src="app/controllers/home.js"></script>
  <script src="app/controllers/login.js"></script>
  <script src="app/controllers/navbar.js"></script>
  <script src="app/controllers/add_event.js"></script>
  <script src="app/controllers/manage_sports.js"></script>
  <script src="app/controllers/sports.js"></script>
  <script src="app/controllers/edit_event.js"></script>
  <script src="app/controllers/register.js"></script>
  <script src="app/controllers/statistics.js"></script>

  <script src="app/filters/lisp-case.js"></script>

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.min.css">
  <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="app/styles/styles.css">

  <title>Trentos</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" ng-controller="NavbarController as vm">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="feed" ng-if="vm.isAuthenticated()">Trentos</a>
        <a class="navbar-brand" ui-sref="events" ng-if="!vm.isAuthenticated()">Trentos</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown" uib-dropdown ng-show="vm.isAuthenticated()">
            <a href uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Deportes <span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="sport in vm.sports">
                <a href ui-sref="sports({sportId: sport.id})">{{ sport.name }}</a>
              </li>
            </ul>
          </li>
          <li><a ui-sref="events" ng-show="vm.isAuthenticated()">
            Todos los eventos
          </a></li>
          <li><a ui-sref="statistics" ng-show="vm.isAuthenticated() && vm.isAdmin()"
              class="hidden-sm">
            Estadisticas
          </a></li>
          <li><a ui-sref="statistics" class="glyphicon glyphicon-stats hidden-lg hidden-md"
              ng-show="vm.isAuthenticated() && vm.isAdmin()"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="vm.isAuthenticated()">
          <li class="bg-success"><a class="text-success" ng-click="vm.openAddEventModal()" href="">
            Agregar Evento <span class="sr-only">(current)</span></a>
          </li>
          <li class="bg-info"><a class="text-info" ng-click="vm.openManageSportsModal()" href="">
            Mis Deportes <span class="sr-only">(current)</span></a>
          </li>
          <li class="bg-danger"><a class="text-danger" ng-click="vm.logout()" href="">
            Salir <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="!vm.isAuthenticated()">
          <li class="bg-info"><a class="text-info" ng-click="vm.openRegisterModal()" href="">
            Registrate <span class="sr-only">(current)</span></a>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="!vm.isAuthenticated()">
          <li class="bg-success"><a class="text-success" ng-click="vm.openLoginModal()" href="">
            Ingresar <span class="sr-only">(current)</span></a>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div ui-view></div>
</body>
</html>