<div class="modal-header">
  <h3 class="modal-title">Agregar Evento</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label>Descripcion</label>
      <textarea class="form-control" rows="3" ng-model="event.description"></textarea>
    </div>
    <div class="form-group">
      <label>Fecha</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.date"
            is-open="datePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePopup()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
      </p>
    </div>
    <div class="form-group">
      <label>Deporte</label>
      <select ng-options="sport.id as sport.name for sport in sports track by sport.id" ng-model="event.sport_id"
          class="form-control"></select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="add()">Agregar</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>