<div class="container">
  <div class="feed">
    <div class="alert alert-warning" role="alert" ng-show="vm.events.length === 0">
      Aun no hay eventos cargados de este deporte
    </div>
    <div class="status panel panel-default {{ event.sport.name | lispCase }}" ng-repeat="event in vm.events"
        ng-class="{'highlight': event.highlight}">
      <div class="panel-heading">
        <a href="#" class="thumbnail">
          <img ng-src="//graph.facebook.com/{{ event.user.facebook }}/picture?type=large"
              alt="{{ event.user.displayName }}">
        </a>
        <h3 class="panel-title">
          {{ event.user.displayName }}<br/>
          <small><span am-time-ago="event.created_at"></span></small>
        </h3>
      </div>
      <div class="panel-body">
        <div>
          <div>
            {{ event.description }}
          </div>
          <button class="btn btn-primary" type="button" ng-click="vm.like(event.id)">
            Me gusta <span class="badge">{{ event.likes.length }}</span>
          </button>
          <button class="btn btn-success" type="button"
              ng-click="vm.displayComments[event.id] = !vm.displayComments[event.id]">
            Comentarios <span class="badge">{{ event.comments.length }}</span>
          </button>
          <button class="btn btn-danger" type="button" ng-click="vm.remove(event.id)"
              ng-show="vm.isAuthor(event.user.id) || vm.isAdmin()">
            Eliminar
          </button>
          <button class="btn btn-info" type="button" ng-click="vm.edit(event.id)"
              ng-show="vm.isAuthor(event.user.id) || vm.isAdmin()">
            Editar
          </button>
          <button class="btn btn-warning" type="button" ng-click="vm.highlight(event.id)"
              ng-show="vm.isAdmin() && !event.highlight">
            Destacar
          </button>
          <button class="btn btn-warning" type="button" ng-click="vm.highlight(event.id)"
              ng-show="vm.isAdmin() && event.highlight">
            Quitar Destacado
          </button>
        </div>
      </div>
      <div class="panel-footer comments" ng-show="event.comments.length && vm.displayComments[event.id]">
        <div class="comment" ng-repeat="comment in event.comments">
          <a href="#" class="thumbnail">
            <img ng-src="//graph.facebook.com/{{ comment.user.facebook }}/picture?type=large"
                alt="{{ comment.user.displayName }}">
          </a>
          <div>
            <p class="text-info ">{{ comment.user.displayName }}</p>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <form class="row">
          <div class="col-xs-8 col-sm-10">
            <input type="text" class="form-control" ng-model="vm.comments[event.id]" placeholder="Escribe algo...">
          </div>
          <button type="submit" class="btn btn-default" ng-click="vm.comment(event.id)">Comentar</button>
        </form>
      </div>
    </div>
  </div>
</div>